body {
    font-family: Arial, sans-serif;
    margin: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

select, input[type="file"], textarea {
    width: calc(100% - 160px);
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#result, #result-right, #pythonResult {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 50px;
    white-space: pre-wrap;
    overflow-x: auto;
    font-size: 16px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
}

.hero-button {
    background-color: #007bff;
}

.logo {
    height: 60px;
}

.hero-section {
    background-image: url('../images/bg/background.jpeg');
    background-size: cover;
    background-position: center;
}